@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Lato&display=swap');

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.screen {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}



.ruleScreen {

    z-index: 9;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    backdrop-filter: blur(7px);
    background: #00000036;
}

.rules {
    background: white;
    height: 25em;
    width: 25em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.textClose {
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    width: -webkit-fill-available;
    flex-direction: row;
    justify-content: space-between;
}
.text {
    font-size: 2em;
    font-family: 'Akshar', sans-serif;
}
.close {
    display: flex;
    align-items: center;
    justify-content: center;
}




.playGround {
    background: radial-gradient(ellipse at top center,#1f3857, #131637);
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.scoreBox {
    display: flex;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

.scoreBorder {
    display: flex;
    border: #ffffff80 solid 3px;
    border-radius: 1em;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    padding: 2vh;
}

.scoreText {
    color: white;
    font-size: 36px;
    line-height: 31px;
    font-family: 'Akshar', sans-serif;
    font-weight: 400;
}

.playerScore {
    background: white;
    /* height: 11vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.scoreT {
    color: #3f51b5;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.scoreN {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 59px;
    line-height: 53px;
    color: #59556e;
    font-weight: 600;
}.scoreN {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 59px;
    line-height: 53px;
    color: #59556e;
    font-weight: 600;
}


.Ground {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.playArea1 {

    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.bgGround {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37vh;
    width: 37vh;
}

.choosingIcons {
    display: flex;
    position: fixed;
    width: 32vw;
    height: 43vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.upperBox {
    display: flex;
    width: 52vh;
    flex-direction: row;
    justify-content: space-between;
}

.lowerBox{

}

.paper {
    background: #dbdbdb;
    border: #5671f4 solid 1.2em;
    border-radius: 7em;
    height: 8em;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scissor {
    background: #dbdbdb;
    border: #eaa826 solid 1.2em;
    border-radius: 7em;
    height: 8em;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rock {
    background: #dbdbdb;
    border: #dd3755 solid 1.2em;
    border-radius: 7em;
    height: 8em;
    width: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.playArea2 {
    width: 100vw;
    display:flex;
    justify-content: center;
}

.userPick {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    width: 12em;
    /* border: white solid; */
    justify-content: space-between;
    margin-right: 10em;
}

.housePick {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    width: 12em;
    /* border: white solid; */
    justify-content: space-between;
    margin-left: 10em;
}

.userText {
    font-family: 'Akshar', sans-serif;
    color: white;
    font-size: 1.4em;
}

.userChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 120px;
    width: 120px;
    border-radius: 90px;
    border: solid 28px;
}

.user{

}

.housePick{

}

.houseText{
    font-family: 'Akshar', sans-serif;
    color: white;
    font-size: 1.4em;
}

.houseChoice{

}

.house{
    
}

.end {
    height: 7vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.ruleToggle {
    margin-right: 2em;
    border: #ffffff80 solid 3px;
    height: auto;
    width: 5em;
    border-radius: 11px;
    padding: 6px;
    color: white;
    font-family: 'Akshar', sans-serif;
    display: flex;
    align-items: center;
    font-size: 1em;
    justify-content: center;
}